*{
    margin:0;
    padding:0;
}
body{
    background: url("../img/bg_all.png") no-repeat center top;
}
#main{
    width: 1000px;
    height: 902px;
    /*border: 1px solid black;*/
    margin: 0 auto;
    margin-top: 160px;
}
#logo{
    width: 330px;
    height: 68px;
    /*border: 1px solid black;*/
    margin: 0 auto;
    background: url("../img/alogo.png") no-repeat 0px -112px;
}
#aboutus{
    width: 171px;
    height: 38px;
    /*border:1px solid black;*/
    background: url("../img/alogo.png") no-repeat -167px -182px;
    margin: 0 auto;
    margin-top: 50px;

}
dl{
    /*border: 1px solid black;*/
    display: inline-block;
}
.left{
    width: 500px;
    height: 366px;
    margin-top: 50px;
    /*border:1px solid red;*/
    float: left;
}
.left dt{
    font-size:18px;
    color: #414141;
    line-height: 1.4;
    margin-bottom: 7px;
}
.left dd{
    font-size:14px;
    line-height: 1.5;
    color: #808080;
    margin-bottom: 35px;
}
.right{
    width: 420px;
    height: 375px;
    /*border: 1px solid black;*/
    margin-left: 15px;
    float: right;
    margin-top: 50px;
}
.u_right{
    list-style: none;
}
.u_right li{
    float: left;
    width: 148px;
    height: 148px;
    /*border: 1px solid orangered;*/
}
.u_right li:first-child,.u_right li:nth-child(3){
    margin-right: 50px;
}
.u_right li:nth-child(3),.u_right li:nth-child(4){
    margin-top:54px;
}
.u_right span{
    width: 148px;
    height: 21px;
    /*border:1px solid purple;*/
    color: #a5a5a5;
    font-size: 16px;
    position: relative;
    left:43px;
}
nav a{
    transition: background 0.8s;
    -moz-transition:background 0.8s; /* Firefox 4 */
    -webkit-transition:background 0.8s; /* Safari and Chrome */
    -o-transition:background 0.8s; /* Opera */
    }
nav a.one:hover{
    background: #228bd6;
    }
nav a.two:hover{
    background: #c33;
    }
nav a.three:hover{
    background: #3aa624;
    }
nav a.four:hover{
    background: #c145cc;
    }
nav a.five:hover{
    background: #f2ca00;
    }
nav{
    width:100%;
    height: 60px;
    /*opacity: 0.4;*/
    /*background:black;*/
    background: rgba(0,0,0,0.6);
    position: fixed;
    bottom: 0;

}
.nav_list{
    list-style: none;
    margin: 0 auto;
    width: 1010px;
    height: 60px;
    /*border:1px solid white;*/
}
 .nav_list>li{
     float: left;
     width: 200px;
     height: 60px;
     /*border: 1px solid red;*/
     line-height:60px;
     text-align: center;
 }
.nav_list>li a{
    width: 200px;
    height: 60px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
